# Logs
logs
*.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

#dist folder
dist

# IDEA/Webstorm project files
.idea
*.iml

#VSCode metadata
.vscode

# Mac files
.DS_Store
